@{
    ViewBag.Title = "About";
}

<h3>Numeric Sequence Calculator</h3>

<p>
    Numeric Sequence Calculator generates below series of sequences for give  whole number Input:
    <ol>
        <li>All numbers up to and including the number entered</li>
        <li>All odd numbers up to and including the number entered </li>
        <li>All even numbers up to and including the number entered</li>
        <li>
            All numbers up to and including the number entered
            <ol type="i">
                <li>Except when a number is a multiple of 3 output C </li>
                <li>Except when a number is a multiple of 5 output E  </li>
                <li>Except when a number is a multiple of both 3 and 5 output Z </li>
            </ol>
        <li>All fibonacci numbers up to and including the number entered. </li>
    </ol>



</p>
