@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>




<address>
    <strong>
        <a href="http://au.linkedin.com/in/kanthikp" target="_blank">Kanthi Kumar Palukuri</a>
    </strong> 
</address>